<!-- Log-In and Registration Index -->
<div class="error-messages">
  <ul>
  <% if @errors %>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  <% end %>
</ul>
</div>

<div>
<p class = "login-header">Login</p>
<form method="post" action="/login" class="login-form">
  <label for="username">Username:</label>
  <input type="text" name="username"><br>
  <label for="password">Password:</label>
  <input type="password" name="password"><br>
  <input type="submit" value="login">
</form>

<p class = "login-header">Create Account</p>
<form method="post" action="/users" class="login-form">
  <label for="username">Username:</label>
  <input type="text" name="user[username]"><br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="create account">
</form>
</div

